<div class="banner">
    <img src="assets/header-bg.jpg" alt="header">
</div>

<div class="bg-light">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">AppVision GmbH</h1>
            <p class="max-width-large text-muted">Bei uns ist der Name Programm.</p>
        </div>

        <app-list [items]="welcomeItems" [width]="'40rem'"></app-list>

    </div>
</div>

<div class="">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Angebote</h1>
            <p class="max-width-large text-muted">An welchen Angeboten sind Sie interessiert?</p>
        </div>

        <app-icons [data]="offersData" [size]="'xl'" [border]="''"></app-icons>

    </div>
</div>
