<div class="banner">
    <img src="assets/header-bg.jpg" alt="header">
</div>

<div class="">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">AppVision GmbH</h1>
            <p class="max-width-large text-muted">
                Willkommen bei AppVision GmbH.</p>
        </div>

        <app-list [items]="welcomeItems" [width]="'40rem'"></app-list>

    </div>
</div>

<div class="bg-light">

    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Kontakt</h1>
            <p class="max-width-large text-muted">Gerne begrüssen wir Sie bei uns im Industriegebiet Kägen in Reinach BL bei Basel.</p>
        </div>

        <p class="max-width-large"><strong>AppVision GmbH</strong><br/>
            Christoph Merian-Ring 11<br/>
            4153 Reinach BL<br/><br/>
            Telefon: <a href="tel:0041615623333">+41 61 562 33 33</a><br/>
            E-Mail: <a href="mailto:info@appvision.ch">info@appvision.ch</a><br/><br/>
            CHE-467.026.673 MWST
        </p>

    </div>

    <div class="banner">
        <img src="assets/location.png" alt="map">
    </div>

</div>

<div class="">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Angebote</h1>
            <p class="max-width-large text-muted">
                Willkommen bei AppVision GmbH.</p>
        </div>

        SafeLog, Dienstleistungen

    </div>
</div>
