<div class="menu-background"></div>

<div class="bg-light">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Willkommen bei SafeLog</h1>
            <p class="text-muted">eine moderne Webapplikation für Ihr Case Management</p>
        </div>

        <img src="assets/products/safelog/showcase.png" alt="header">

    </div>
</div>

<div class="">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Merkmale von SafeLog</h1>
        </div>

        <app-list [items]="features"></app-list>

    </div>
</div>

<div class="bg-light">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">SafeLog auf einen Blick</h1>
        </div>

        <div class="row text-left">
            <div class="col-sm-6 col-12">
                <h3>Prinzipien von SafeLog</h3>
                <p class="">
                    ⌲ Selbsterklärende Bedienung auch für Einsteiger<br/>
                    ⌲ Keine Kompromisse bei der Datensicherheit<br/>
                    ⌲ Einsatz von zukunftssicheren Technologien<br/>
                    ⌲ Modularer Aufbau für mögliche Erweiterungen<br/>
                    ⌲ Schnittstellen für andere Anwendungen
                </p>

            </div>
            <div class="col-sm-6 col-12">
                <h3>Service von AppVision</h3>
                <p class="">
                    ⌲ Hosting in hochsicherem Schweizer Datencenter<br/>
                    ⌲ Wartung und regelmässige Updates<br/>
                    ⌲ Tägliche Backups georedundant gespeichert<br/>
                    ⌲ Produktesupport via Tel. und E-Mail<br/>
                    ⌲ Spezifische Weiterentwicklungen auf Offerte
                </p>
            </div>
        </div>

    </div>
</div>

<div class="">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Der Umstieg auf SafeLog ist einfach</h1>
        </div>

        <p>Wir schliessen mit Ihnen einen Servicevertrag ab, welcher Betrieb, Wartung und Support von SafeLog
            einschliesst.<br/>
            Datenübernahme, Zusatzmodule und weitere Dienstleistungen offerieren wir Ihnen persönlich!</p>

    </div>
</div>

<div class="bg-light">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Referenzen</h1>
            <p class="text-muted">Das sagen unsere Kunden</p>
        </div>

        <p>Leitung Fachstelle Nahtstelle 1 Kanton Aargau
            «SafeLog ist das optimale Instrument, damit der Fokus auf dem Klienten liegt und nicht auf der
            Falladministration. SafeLog besticht durch seine Benutzerfreundlichkeit und das Design.»</p>

        <p>Leitung Berufsintegration Kanton Basel-Landschaft
            «Mit SafeLog ist unsere Falldokumenta>on bedeutend einfacher und konsistenter geworden. Dank individuellen
            Anpassungen ist SafeLog genau auf die Bedürfnisse unserer Stelle zugeschnitten!»</p>

        <p>Leitung Abteilung Berufsbildung Kanton SchaBausen</p>

    </div>
</div>

<div class="">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Pakete und Preise</h1>
            <p class="text-muted">Wählen Sie ein für Sie passendes Paket und wir erstellen Ihnen eine individuelle Offerte.</p>
        </div>

        <div class="cards-prices">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Silber</h5>
                    <h1 class="card-title">ab CHF 495</h1>
                    <p class="text-muted small mt-n3">pro Monat</p>
                    <p class="text-muted">für kleine Institutionen</p>
                    <p class="card-text text-left">
                        <span class="text-primary">✓</span> Komplette Funktionalität von SafeLog<br/>
                        <span class="text-primary">✓</span> All inclusive: keine weiteren Kosten<br/>
                        <span class="text-primary">✓</span> Hosting in hochsicherem Schweizer Datencenter<br/>
                        <span class="text-primary">✓</span> Regelmässige Wartung und Updates<br/>
                        <span class="text-primary">✓</span> Tägliche georedundante Backups<br/>
                        <span class="text-primary">✓</span> Support per E-Mail und Telefon<br/>
                        <span class="text-primary">✓</span> kostenlose Schulung bei Einführung<br/>
                        <span class="text-primary">✓</span> bis 10 aktive Benutzer<br/>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="mailto:info@appvision.ch" class="btn btn-outline-primary">Jetzt umsteigen</a>
                </div>
            </div>
            <div class="card border-dark">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gold</h5>
                    <h1 class="card-title">auf Anfrage</h1>
                    <p class="text-muted small mt-n3">pro Monat</p>
                    <p class="text-muted"><span class="badge badge-warning">beliebtestes Paket</span></p>
                    <p class="card-text text-left">
                        <span class="text-primary">✓</span> Sämtliche Features von «Silber»<br/><br />
                        <span class="text-primary">✓</span> unbegrenzte Anzahl Benutzer<br/>
                        <span class="text-primary">✓</span> eigene Domain (z. B. ihre-seite.ch)<br/>
                        <span class="text-primary">✓</span> unlimitierter Produktesupport<br/>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="mailto:info@appvision.ch" class="btn btn-primary">Jetzt anfragen</a>
                </div>
            </div>
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Platin</h5>
                    <h1 class="card-title">auf Anfrage</h1>
                    <p class="text-muted small mt-n3">pro Monat</p>
                    <p class="text-muted">für gehobene Ansprüche</p>
                    <p class="card-text text-left">
                        <span class="text-primary">✓</span> Sämtliche Features von «Gold»<br/><br />
                        <span class="text-primary">✓</span> Betrieb auf eigener Infrastruktur<br/>
                        <span class="text-primary">✓</span> spezifische Weiterentwicklungen<br/>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="mailto:info@appvision.ch" class="btn btn-primary">Jetzt anfragen</a>
                </div>
            </div>
        </div>

        <p class="text-muted mt-5">Preise (exkl. MwSt) variieren je nach Anforderungen. Kontaktieren Sie uns für nähere Infos.</p>

    </div>
</div>
