@import "src/variables";

.container {

    .bi {
        position: relative;
        color: $primary;
    }

    .carousel {
        max-width: 800px;
        margin: auto;
    }

    .carousel-caption {

        .text {
            padding: $spacer-3;
            border: 1px solid $border-color;
            background: rgba($primary, 0.9);
            color: $white;
        }
    }

    .cards-prices {
        $margin: 1rem;

        .card {
            max-width: $width-medium;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: $margin;
        }

        @include media-breakpoint-up(lg) {
            display: flex;
            flex-flow: row wrap;
            margin-right: -$margin;
            margin-left: -$margin;

            .card {
                // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
                flex: 1 0 0;
                margin-right: $margin;
                margin-bottom: 0; // Override the default
                margin-left: $margin;
            }
        }
    }
}
