<div *ngIf="format === 'grid'" class="rows" [style.max-width]="maxWidth">

    <div class="row row-large">
        <div *ngFor="let item of items; let i = index" class="row-col mb-4"
             [ngClass]="item.colCssClass ? item.colCssClass : 'col-lg-2 col-md-3 col-sm-4 col-6'">
            <div *ngIf="item.ionicon || item.imageSrc" class="image" [style.padding]="item.imagePadding">
                <ion-icon *ngIf="item.ionicon" [name]="item.ionicon"
                          [ngClass]="getImageCssClass(item)"></ion-icon>
                <img *ngIf="!item.ionicon && item.imageSrc" [src]="item.imageSrc"
                     [ngClass]="getImageCssClass(item)" alt="image"/>
            </div>
            <div *ngIf="item.title || item.text" class="info">
                <div class="title">{{ item.title }}</div>
            </div>
            <div *ngIf="item.url" class="link text-truncate">
                <a class="cursor-pointer" (click)="openUrl(item.url)">
                    <ion-icon
                            [name]="item.url.startsWith('http') ? 'link-outline' : 'arrow-forward-outline'"></ion-icon>
                    {{ item.urlText || item.url }}
                </a>
            </div>
        </div>
    </div>

</div>

<div *ngIf="format === 'list'" class="list" [style.max-width]="maxWidth">

    <div *ngFor="let item of items" class="mb-3">
        <div class="d-flex">
            <div *ngIf="item.ionicon || item.imageSrc" class="image flex-shrink-0 flex-grow-0"
                 [ngClass]="getImageCssClass(item)">
                <ion-icon *ngIf="item.ionicon" [name]="item.ionicon"></ion-icon>
                <img *ngIf="!item.ionicon && item.imageSrc" [src]="item.imageSrc" alt="image"/>
            </div>
            <div *ngIf="item.title || item.text" class="text"
                 [ngClass]="!item.ionicon && !item.imageSrc ? 'pl-0' : ''">
                <p><strong *ngIf="item.title">{{ item.title }}: </strong><span [innerHTML]="item.text"></span></p>
            </div>
        </div>
    </div>

</div>
