@import "src/variables";

.rows {
    .row {
        .row-col {

            @include media-breakpoint-down(xs) {
                margin-left: auto;
                margin-right: auto;
            }

            .image {
                overflow: hidden;

                img {
                    width: 100%;
                    background-color: $white;

                    @include media-breakpoint-down(sm) {
                        max-width: 350px;
                    }

                    @include media-breakpoint-down(xs) {
                        max-width: 250px;
                    }

                    &.border.url:hover {
                        border: 1px solid $primary!important;
                    }
                }
            }

            .info {
                margin-top: map-get($spacers, 3);
                text-align: center;

                .title {
                    font-weight: $font-weight-bold;
                    margin-bottom: $spacer-2;
                }

                .text {
                    margin-bottom: $spacer-2;
                    //color: $text-muted;
                }
            }

            .link {
                a {
                    ion-icon {
                        position: relative;
                        top: 0.1875rem;
                    }
                }
            }
        }
    }
}

.list {
    margin: auto;

    .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $primary;
        width: 5rem;
        height: 5rem;

        color: $white;
        font-size: 3rem;

        img {
            width: 80%;
            height: auto;
        }
    }

    .text {
        display: flex;
        text-align: left;
        align-items: center;
        padding-left: $spacer-3;
    }
}

