<div class="menu-background"></div>

<div class="bg-light">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Über AppVision</h1>
            <p class="max-width-large text-muted">Ihre Vision ist unsere Mission.</p>
        </div>

        <p class="max-width-large">
            Die AppVision GmbH erbringt Dienstleistungen für Firmen und Behörden in den Bereichen Informationstechnologie und Naturwissenschaften.
            AppVision ist spezialisiert auf die Architektur und Entwicklung von komplexen Softwareprojekten, insbesondere von Webapplikationen.</p>

    </div>
</div>

<div class="">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Management</h1>
            <p class="max-width-large text-muted">
                Unser kompetentes Team wird geleitet von:</p>
        </div>

        <app-grid [items]="people" [format]="'grid'"></app-grid>

    </div>
</div>

<div class="bg-light">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Kunden</h1>
            <p class="max-width-large text-muted">Nachfolgend finden Sie einen Auszug unserer Kunden.</p>
        </div>

        <app-grid [items]="customersData" [format]="'grid'"></app-grid>

    </div>
</div>

<div class="">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Partner</h1>
            <p class="max-width-large text-muted">Zu unseren wichtigsten Partnern gehören folgende Firmen.</p>
        </div>

        <app-grid [items]="partnersData" [format]="'grid'"></app-grid>

    </div>
</div>
