<div class="menu-background"></div>

<div class="bg-light">
    <div class="container py-5 text-center">

        <div>
            <h1 class="font-weight-bold text-uppercase">AppVision GmbH</h1>
            <p class="max-width-large text-muted">
                Die AppVision GmbH erbringt Dienstleistungen für Behörden und Firmen im Bereich Informationstechnologie und Naturwissenschaften.
                AppVision ist spezialisiert auf die Architektur und Entwicklung von komplexen Softwareprojekten, insbesondere von Webapplikationen.</p>
        </div>

    </div>
</div>

<div class="">

    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Kontakt</h1>
            <p class="max-width-large text-muted">Gerne begrüssen wir Sie bei uns im Industriegebiet Kägen in Reinach BL bei Basel.</p>
        </div>

        <p class="max-width-large"><strong>AppVision GmbH</strong><br/>
            Christoph Merian-Ring 11<br/>
            4153 Reinach BL<br/><br/>
            Telefon: <a href="tel:0041615623333">+41 61 562 33 33</a><br/>
            E-Mail: <a href="mailto:info@appvision.ch">info@appvision.ch</a>
        </p>

    </div>

    <div class="banner cursor-pointer" (click)="openGoogleMaps()">
        <img src="assets/location.png" alt="map">
    </div>

</div>

<div class="bg-light">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Kunden</h1>
            <p class="max-width-large text-muted">Nachfolgend finden Sie einen Auszug von zufriedenen Kunden von AppVision.</p>
        </div>

        <app-icons [data]="customersData"></app-icons>

    </div>
</div>

<div class="">
    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Partner</h1>
            <p class="max-width-large text-muted">Zu unseren wichtigsten Partnern gehören folgende Firmen:</p>
        </div>

        <app-icons [data]="partnersData"></app-icons>

    </div>
</div>
