<div class="py-4 bg-light border-top">
    <div class="container text-muted">
        <div class="row">
            <div class="col-md-6">
                <p><strong>Kontaktdaten</strong><br/><br/>
                    AppVision GmbH<br/>
                    Christoph Merian-Ring 11<br/>
                    4153 Reinach BL<br/>
                    Schweiz<br/><br/>
                    Tel. <a href="tel:0041615623333">+41 61 562 33 33</a><br/>
                    Mail.: <a href="mailto:info@appvision.ch">info@appvision.ch</a><br/><br/>
                    CHE-467.026.673 MWST
                </p>
            </div>
            <div class="col-md-6">
                <p><strong>Sitemap</strong><br/><br/>
                    <a routerLink="home">Home</a><br/>
                    <a routerLink="products">SafeLog</a><br/>
                    <a routerLink="services">Dienstleistungen</a><br/>
                    <a routerLink="company">Unternehmen</a><br/>
                </p>
            </div>
        </div>

    </div>
</div>
<div class="py-4 text-center text-muted border-top">
    &copy; 2021 AppVision GmbH
</div>
