@import "../../../../variables";

.banner {
    position: relative;
    width: 100%;
    min-width: $width-small;

    img {
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }

    .source {
        font-size: $font-size-sm;
        color: $text-muted;
        position: absolute;
        bottom: $spacer-2;
        right: $spacer-2;
    }
}
