<div class="pt-4 bg-light border-top">

    <div class="container py-5 text-center">

        <div class="mb-5">
            <h1 class="font-weight-bold text-uppercase">Kontakt</h1>
            <p class="max-width-large text-muted">Gerne begrüssen wir Sie bei uns im Industriegebiet Kägen in Reinach BL bei Basel.</p>
        </div>

        <p><strong>AppVision GmbH</strong><br/>
            Christoph Merian-Ring 11<br/>
            4153 Reinach BL<br/><br/>
            Telefon: <a href="tel:0041615623333">+41 61 562 33 33</a><br/>
            E-Mail: <a href="mailto:info@appvision.ch">info@appvision.ch</a><br/><br/>
            CHE-467.026.673 MWST
        </p>

    </div>

    <div class="banner cursor-pointer" (click)="openGoogleMaps()">
        <img src="assets/location.png" alt="map">
        <div class="source">Quelle: maps.google.com</div>
    </div>

</div>

<div class="py-4 text-center text-muted border-top">
    &copy; 2021 AppVision GmbH
</div>
