@import "src/variables";

.list {
    margin: auto;

    .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $primary;
        width: 5rem;
        height: 5rem;

        border-radius: 100%;
        color: $white;
        font-size: 3rem;

        img {
            width: 80%;
            height: auto;
        }
    }

    .text {
        display: flex;
        text-align: left;
        align-items: center;
        padding-left: 1rem;
    }
}
