<div class="list" [style.max-width]="width">

    <div *ngFor="let item of items" class="mb-3">
        <div class="d-flex">
            <div *ngIf="item.ionicon || item.imageSrc" class="image flex-shrink-0 flex-grow-0">
                <ion-icon *ngIf="item.ionicon" [name]="item.ionicon"></ion-icon>
                <img *ngIf="!item.ionicon && item.imageSrc" [src]="item.imageSrc" alt="image"/>
            </div>
            <div class="text"><p [innerHTML]="item.text"></p></div>
        </div>
    </div>

</div>
