@import "src/variables";

col {
    margin-bottom: 30px;
}

.image {

    img {
        width: 100%;
    }
}

.info {
    margin-top: map-get($spacers, 3);
    text-align: center;

    .title {
        font-weight: $font-weight-bold;
    }

    .text {
        color: $text-muted;
    }
}
