/* You can add global styles to this file, and also import other style files */

// Import variables
@import 'variables';

// Import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// Import Font
@import "~@fontsource/open-sans/300.css";
@import "~@fontsource/open-sans/300-italic.css";
@import "~@fontsource/open-sans/400.css";
@import "~@fontsource/open-sans/400-italic.css";
@import "~@fontsource/open-sans/600.css";
@import "~@fontsource/open-sans/700.css";

h1, h2, h3, h4, h5 {
    color: $primary;
    word-break: break-word;
}

p {
    margin-bottom: $spacer-2;

    &.max-width-large {
        margin-left: auto;
        margin-right: auto;
        max-width: $width-large;
    }
}

strong {
    font-weight: 600;
}

.container {
    min-width: $width-small;

    img {
        max-width: 100%;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.menu-background {
    background-color: rgba($primary, 0.25);
    width: 100%;
    height: $menu-height;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background: rgba(0, 0, 0, 0.05);
}

.carousel-control-prev-icon {
    filter: invert(1);
}

.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-indicators {
    filter: invert(1);
}
