// Override Bootstrap variables
$primary: #003b6c;
$font-family-sans-serif: "Open Sans";
$font-weight-base: 300;
$font-weight-bold: 600;
$font-weight-bolder: 700;
$card-title-color: $primary;
$card-spacer-x: 20px;
$card-spacer-y: 20px;
$enable-negative-margins: true;

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// Other variables
$menu-height: 98px;
$width-large: 40rem;
$width-medium: 30rem;
$width-small: 20rem;
$spacer-1: map-get($spacers, 1);
$spacer-2: map-get($spacers, 2);
$spacer-3: map-get($spacers, 3);
$spacer-4: map-get($spacers, 4);
$spacer-5: map-get($spacers, 5);
$spacer-6: $spacer * 5;

