// Override Bootstrap variables
$primary: #003b6c;
$font-family-sans-serif: "Open Sans";
$font-weight-base: 300;
$font-weight-bold: 600;
$font-weight-bolder: 700;

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// Other variables
$width-large: 40rem;
$width-medium: 30rem;
$width-small: 20rem;
